<div ng-controller="MainCtrl" class="contenedor" ng-cloak>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#!/">Tatiana & Daniel</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/registro')}"><a href="#!/registro">Registro <span
            class="sr-only">(current)</span></a></li>
          <li ng-class="{ active: isActive('/mapa')}"><a ng-href="#!/mapa">Mapa</a></li>
          <li ng-class="{ active: isActive('/mesa')}"><a ng-href="#!/mesa">Mesa de regalos</a></li>
        </ul>
        <!--
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
        -->
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{ active: isActive('/logout')}" ng-show="isAuth()"><a href="#!/logout">Salir</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container ng-scope">
    <section ui-view></section>
  </div>
</div>
<div class="container" style="position:relative;margin-left: auto; margin-right:auto; bottom:100px;text-align:center">
  <a href="https://play.google.com/store/apps/details?id=com.tatianaydanielapp">
    <img src="images/PlayStoreButton.png" style="width:160px">
  </a>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Desarrollado y hospedado por <a ng-href="http://opticalcube.com">Optical Cube</a>
    </p>
  </div>
</footer>
