[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

HTML, BODY {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

BODY {
  background-color: #eee;
}

.contenedor {
  background: url('/images/back.jpg') no-repeat fixed center;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 0;
  height: 100%;
}

.panel-default > .panel-heading {
  background: @color1;
  color:#fff;
  font-weight: bolder;
}
.panel-body {
  background: @color4;
}
.navbar-brand {
  background-image: url(/images/icono.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  width: 220px;
  padding-left:50px;
  color:#fff;
  font-size: 150%;
}

input[type=search] {
  color: #000;
}

footer {
  position:absolute;
  bottom:0px;
  margin-left:auto;
  margin-right: auto;
  background-color: @color4;
  width:100%;
  opacity:0.9;
}

footer p {
  margin: 5px;
  text-align:right;
}
