<div ng-controller="MainCtrl">
  <div class="col-md-6 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Información del evento</div>
      <div class="panel-body">
        <p>Bienvenido a la página del evento de Tatiana y Daniel.</p>
        <p>En este lugar podrás confirmar tu asistencia y la de las personas que te acompañarán, consultar la ubicación del evento
          y los datos de la mesa de regalos.</p>

        <p>Para iniciar, por favor da click en <a ng-href="#!/registro">Registro</a></p>
      </div>
    </div>
  </div>
</div>
