<div ng-controller="AuthCtrl as authctrl">
  <div class="col-md-6 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Registro de asistencia</div>
      <div class="panel-body">
        <form class="form-signin" ng-submit="doLogin()">
          <h2 class="form-signin-heading">Por favor ingresa los siguientes datos</h2>
          <!--<label for="nomInvitacion" class="sr-only">Nombre de la Invitación</label>-->
          <!--<div class="input-group">
            <span class="input-group-addon" id="nomInvitacion-addon">ABC</span>
            <input type="text" class="form-control" placeholder="Nombre de la invitación"
                   aria-describedby="nomInvitacion-addon" id="nomInvitacion"
                   ng-model="auth.identifier" ng-change="autoComplete()"/>
          </div>-->

          <div ng-controller="InvitacionCtrl as ctrl">
            <md-autocomplete
              ng-disabled="ctrl.isDisabled"
              md-no-cache="ctrl.noCache"
              md-selected-item="authctrl.auth.identifier"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-search-text="ctrl.searchText"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Nombre de la invitación">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                <div ng-if="ctrl.searchText!=''">
                  El nombre de la invitación "{{ctrl.searchText}}" no es correcto.
                  <!--<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>-->
                </div>
              </md-not-found>
            </md-autocomplete>
          </div>

          <label for="numInvitados" class="sr-only">Número de Invitados</label>
          <div class="input-group">
            <span class="input-group-addon" id="numInvitados-addon">123</span>
            <input type="text" class="form-control" placeholder="Número de invitados"
                   aria-describedby="numInvitados-addon" id="numInvitados"
                   ng-model="authctrl.auth.password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="auth.rememberMe">Recuerdame
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="authctrl.auth.identifier!='' && authctrl.auth.password!=''">Sign in</button>
        </form>

      </div>
    </div>
  </div>
</div>
