<div>
  <div class="col-md-6 pull-left">
    <div class="panel panel-default">
      <div class="panel-heading">Ceremonia</div>
      <div class="panel-body" style="min-height:300px">
        <h4>Templo Presbiteriano Gethsemani</h4>
        <lead>
          Calle de Cuauhtémoc No. 117 Col. Del Carmen CP. 04100
          Centro de Coyoacán
        </lead>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.2756418808452!2d-99.16170503723087!3d19.35138024973745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x185022222bbe842f!2sGETSEMANI!5e0!3m2!1ses!2smx!4v1490683640906"
          width="100%" height="100%" style="min-height:350px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-6 pull-right">
      <div class="panel panel-default">
        <div class="panel-heading">Recepción</div>
        <div class="panel-body" style="min-height: 300px">
          <h4>La Casa Blanca</h4>
          <lead>
            Cerrada de Niebla No. 80 esquina con la calle Terrazas
            Pueblo San Andrés Totoltepec, Km. 24.85, Tlalpán.
          </lead>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.9019192380159!2d-99.16184062509525!3d19.2413773572849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0733650a149d%3A0xd0cf71898039d1a5!2sDe+Niebla+80%2C+San+Andr%C3%A9s+Totoltepec%2C+14400+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1490683946192"
            width="100%" height="100%" style="min-height:350px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <script>
    function myMap() {
      var mapCanvas = document.getElementById("map");
      var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.2),
        zoom: 10
      };
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
  </script>
