<div>
  <div class="col-md-6 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Mesa de Regalos</div>
      <div class="panel-body">
        <h3>Consulta nuestra lista de deseos en</h3>
        <h4>Palacio de Hierro</h4>
        <p>No. de evento 320468</p>
        <p><a ng-href="http://www.elpalaciodehierro.com/celebra/view/index/id/320468/#results" target="_blank">
          <strong>www.elpalaciodehierro.com</strong></a></p>
        <h4>Liverpool</h4>
        <p>No. de evento 41095485</p>
        <p><a ng-href="https://www.liverpool.com.mx/tienda/giftregistry/giftRegistryDetail.jsp?eventNo=1&eventDNo=41095485" target="_blank">
          <strong>www.liverpool.com.mx</strong></a></p>
      </div>
    </div>
  </div>
</div>
