<div ng-controller="RegisterCtrl">
  <div class="col-md-6 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Registro de asistencia</div>
      <div class="panel-body">
        <div class="list-group">
          <button type="button" class="list-group-item" ng-repeat="invitee in invitees" ng-click="toggle(invitee)">
            {{invitee.name}}
            <i class="glyphicon glyphicon-remove" ng-if="invitee.confirmed==-1" ng-class="pull-right"/>
            <i class="glyphicon glyphicon-ok" ng-if="invitee.confirmed" ng-class="pull-right"/>
            <i class="glyphicon glyphicon-question-sign" ng-if="!invitee.confirmed" ng-class="pull-right"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
