<div ng-controller="ReportCtrl">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Registro de asistencia</div>
      <div class="panel-body">
        <div style="overflow-y:scroll;overflow-x:hidden;height:360px;">
        <div class="list-group">
          <button type="button" class="list-group-item" ng-repeat="invitee in report">
            {{invitee.name}}
            <i class="glyphicon glyphicon-remove" ng-if="invitee.confirmed==-1" ng-class="pull-right"/>
            <i class="glyphicon glyphicon-ok" ng-if="invitee.confirmed" ng-class="pull-right"/>
            <i class="glyphicon glyphicon-question-sign" ng-if="!invitee.confirmed" ng-class="pull-right"/>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
